<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0"
      package="com.jazz.hellotabwidget">
      <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="10" />
    
          
<instrumentation android:name="android.test.InstrumentationTestRunner"
       android:targetPackage="com.jazz.hellotabwidget" android:label="Tests for App" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
     <uses-library android:name="android.test.runner" />
        <activity android:name=".HelloTabWidgetActivity"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           
            </activity>
        
        <activity android:name=".PortfolioActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        
        <activity android:name=".SharesActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        
        <activity android:name=".SharesRun"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        
        <activity android:name=".RocketPlummet"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        
        
       

    </application>
</manifest>